.idea
*.iml
*.ipr
*.iws
*/*.iml
*/logs
~
~/*
infer-out
out
.DS_Store
*.classpath
*.project
*/*.classpath
*/*.project
*/*/*.project
*/*/*.classpath
*/*/*.iml
*/.settings
*/*/.settings
logs
dependency-reduced-pom.xml
.idea/*
target
src/test
*.csv
version.yml
